<img src=".\assets\img\burger.png" alt="Tasty Burger" height="237" width="320">

<h1>Eat-Da-Burger!</h1>

<p>Burgers - Yay!</p>
<ul>
  {{#each availableBurgers}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <button type="submit">Devour it!</button>
        </form>
      </p>
    </li>
  {{/each}}
</ul>

<p>Devoured Burgers - Yum!</p>
<ul>
  {{#each devouredBurgers}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}}
      </p>
    </li>
  {{/each}}
</ul>

<form method="POST" action="/" class="button-size">
	<textarea type="text" name="burger"></textarea>
	<button type="submit">Save Burger!</button>
</form>
<p>Enter a burger you want to eat. Click the "Save Burger!" button.</p>
